


.main {
    margin-top: 40px;
    width: 100%;
    height: 100%;
    background: #efeeeef0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.left {
    width: 95%;
}

.left p {
    font-family: "Anta", sans-serif;
    font-size: 12px;
    font-weight: 500;
}
.left small{
    font-size: 12px;
}
.left h1 {
    font-size: 35px;
    font-weight: 700;
}

.left button {
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    cursor: pointer;
    font-family: "Anta", sans-serif;
    font-size: 12px;
    color: #FDFDFD;
    padding: 10px 16px;
    border: none;
    background: #101112;
}
.left button:hover{
    box-shadow: 0 4px 24px hsla(231, 89%, 10%, 0.4);
}


.right {
    width: 100%;
}

.fancy-shape {
    border-radius: 30% 70% 72% 28% / 73% 17% 83% 27%;
    width: 370px;
    height: 370px;
    background: #ad5389;
    background: -webkit-linear-gradient(to right,
            #1b0526,
            #827b7f);
    background: linear-gradient(to right,
            #09040c,
            #e5b3d1);
    position: relative;
    top: 30px;
    left: 20px;
}

.fancy-shape img {
    position: absolute;
    top: -35px;
    right: -10px;
}

.brans {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    margin-top: 15px;
}

.brans img {
    width: 45px;
}

.head-Line p {
    font-family: "Anta", sans-serif;
    font-size: 12px;
} 

 .head-Line h2 {
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 26px;
}


.product-container {
    width: 100%;
    position: relative;
}
.product-container .New_arrivals{
    width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    gap: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
.product-container .New_arrivals::-webkit-scrollbar {
    display: none;
}

.New_arrivals .star-cont{
    position: absolute;
    top: 5px;
    left: 0px;
    width: 45px;
    height: 25px;
    color: #FDFDFD;
    background: #ebc632;
    display: flex;
    justify-content: center;
    align-items: center;
}
.star-cont h3{
    font-size: 12px;
}



.products {
    width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 6px;
    margin-bottom: 10px;
    padding: 10px;
}

.products::-webkit-scrollbar {
    display: none;
}

.ri-arrow-right-s-line,
.ri-arrow-left-s-line {
    padding: 8px;
    border-radius: 50%;
    font-size: 14px;
    color: #FDFDFD;
    background-color: #09040c;
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: rotateY(-50%);
    cursor: pointer;
    visibility: hidden;
}

.ri-arrow-left-s-line {
    left: 0;
    display: none;
}

.ri-arrow-right-s-line{
    right: 0;
}



.New_arrivals .product-profile,
.product-profile {
    width: 170px;
    height: 280px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.782);
    padding: 0 5px 10px 5px;
}

.produt-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 70%;
}
.product-profile img {
    max-height: 100%;
    max-width: 100%;
}


.status_container {
    width: 35px;
    height: 20px;
    border-radius: 5px;
    background: #f46678;
    position: absolute;
    top: 3px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FDFDFD;
    padding-right: 5px;
}

.status_container h3 {
    font-size: 11px;
}

.favorite {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}

.favorite i {
    color: transparent;
    -webkit-text-stroke: 1px #121009;
    font-size: 15px;
}
.favorite:hover i {
    color: #09040c;
}

.product-Name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 0;
    gap: 0 5px;
}
.product-profile p {
    font-size: 11px;
    font-weight: 400;
}

.product-profile .product-Name small {
    font-family: "Anta", sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.product-Rating{
  padding:  0;
  display: flex;
  align-items: center;
}

.Rating__stars{
   gap: -5px;
   padding-right: 10px;
}
.product-Rating span {
    font-size: 10px;
    text-align: center;
}

.product-Rating i {
    font-size: 12px;
}

.product-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px 10px;
}
.product-btns button {
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 2px;
    font-size: 8px;
    color: #FDFDFD;
    background: #1b0526;
    border: none;
}
.product-btns .DetailBtn{
    background: #d8d8d8;
    color: #09040c;
}
.product-btns button a{
    font-family: "Anta", sans-serif;
    color: #09040c;
    text-decoration: none;
}
.product-btns button:hover a{
    color: #ec6073;
    text-decoration: underline;
}


.scrollbar {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollbar-tracker {
    position: relative;
    height: 2px;
    width: 100%;
    background: #dad8d8;
    border-radius: 4px;
}

.scrollbar-tracker:hover {
    height: 4px;
}

.scrollbar-tracker .scrollbar-thum {
    height: 100%;
    width: 20%;
    background: #000;
    position: absolute;
    border-radius: inherit;
    cursor: grab;
}

.scrollbar-thum:hover {
    height: 8px;
    cursor: grabbing;
    top: -2px;
}

.scrollbar-thum::after {
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    left: -10px;
}




.advertising{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.Advertiser{
    background: #93c6ef61;
    position: relative;
    display: flex;
    padding: 5px;
    width: 355px;
    overflow: hidden;
}
.subtitle{
    gap: 5px;
}
.subtitle h2{
    font-size: 18px;
}
.subtitle p{
    font-family: "Anta", sans-serif;
    font-size: 12px;
}
.Txt_side{
    display: flex;
    gap: 12px;
    flex-direction: column;
}
.Price{
    display: flex;
    align-items: center;
    gap: 10px;
}
.Price p{
    font-family: "Anta", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #f46678;
}
.Price small{
    font-family: "Anta", sans-serif;
    font-size: 10px;
    text-decoration: line-through;
    color: #827b7f;
}
.Date p{
    font-size: 10px;
}
.timer span{
    text-align: center;
    display: flex;
    align-items: center;
    gap: 6px;
}
.timer div{
    text-align: center;
    display: flex;
    align-items: center;
    gap: 20px;
}
.timer p{
    padding: 8px 10px;
    background: #7da4eb;
}
.subtitle small,
.timer small{
    font-size: 10px;
}
.btn button{
    position: relative;
    cursor: pointer;
    padding: 7px 14px;
    font-family: "Anta", sans-serif;
    font-size: 10px;
    background-color: transparent;
    border: none;
    background: #f57209;
    overflow: hidden;
    color: #FDFDFD;
}
.btn button:hover{
    background: #09040c;
    color: #FDFDFD;
}
.btn button::before{
    content: '';
    background: #FDFDFD;
    position: absolute;
    top: 0;
    left: -20%;
    width: 20%;
    height: 100%;
    transition: all 0.5s ease-in;
}
.btn button:hover:before{
    left: 100%;
}
.Advertiser img{
    width: 240px;
    position: absolute;
    bottom: -2px;
}
.Adver_img1,
.Adver_img2{
    display: none;
}

.showImg{
    display: block;
}


.arrival-head{
    margin-top: 15px;
    padding: 5pxpx;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.arrival-head i{
    font-size: 20px;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    background: #09040c;
    color: #FDFDFD;
}
.arrival-head p{
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 18px;
    font-weight: 500;
}
.arrival-head p span{
    font-size: 14px;
    font-weight: 500;
    color: #7da4eb;
}

.New_arrivals {
    width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
}

.New_arrivals::-webkit-scrollbar {
display: none;
}

.crazydeals{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}
.deal{
    position: relative;
    width: 350px;
    height:  210px;
    background: #ebc632;
}
.deal img{
  width: 100%;
  height: 100%;
}
.deal:nth-child(2) img{
    filter: grayscale(100%);
    filter: brightness(30%);
  }
.txts{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FDFDFD;
    gap: 5px;
}
.txts h1{
    font-size: 24px;
}
.txts p,
.txts small{
    font-family: "Anta", sans-serif;
    font-size: 14px;
}
.txts button{
    margin-top: 10px;
    font-family: "Anta", sans-serif;
    background: #e8d898;
    color: #09040c;
}

.collections{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.collection{
    position: relative;
    width: 330px;
    height: 200px;
}
.collection img{
    width: 100%;
    height: 100%;
}
.collection h1{
    font-family: "Alegreya Sans SC", sans-serif;
}
.collection:nth-child(2) img,
.collection:nth-child(3) img{
    filter: brightness(50%);
}
